
body {
  font-family: Helvetica Neue, Verdana, Arial, sans-serif;
  font-size: 14px;
}

html {
  overflow-y: scroll; /* Avoid 'jumping' during scrollbar show/hide */
}

.container {
  /*max-width: 600px;*/
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.tags {
    font-size: small;
    color: darkgray;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  border: 2px solid;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  background:  transparent;
  width: 90%;
  font-size: 1.3em;
}

.new-task input:focus{
  outline: 0;
}

.delete {
  float: right;
  /*font-weight: bold;*/
  /*background: none;*/
  /*font-size: 1em;*/
  /*border: none;*/
  position: relative;
}

td {
  padding: 5px;
}

td .tasktext {
  font-size: 115%;
}

.editable {
  cursor: pointer;
}

.checked {
  color: #888;
}

.toggle-star {
  cursor: pointer;
}

.checked .tasktext {
  text-decoration: line-through;
}


.mnuHighlighted {
  font-weight: 600;
  color: darkorange !important;
}

@media only screen
and (max-width : 480px) {
  .search {
    width: auto;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }

    h1 {
        display: none;
    }

}
