


body {
  font-family: Helvetica Neue, Verdana, Arial, sans-serif;
  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

.tags {
    font-size: x-small;
    color: gainsboro;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  border: 2px solid;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  background:  transparent;
  width: 90%;
  font-size: 1.3em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  /*font-weight: bold;*/
  /*background: none;*/
  /*font-size: 1em;*/
  /*border: none;*/
  position: relative;
}

td .tasktext {
  margin-left: 10px;
  cursor: pointer;
  font-size: 110%;
}

.checked {
  color: #888;
}

.checked .tasktext {
  text-decoration: line-through;
}


@media only screen
and (max-width : 480px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: auto;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }

    h1 {
        display: none;
    }

}
