<template name="exportimport">

    <p></p>
    <p></p>
    <div class="row">
        <a class="waves-effect waves-light btn" id="id_btnCancel">Cancel</a>
        <a class="waves-effect waves-light btn" id="id_btnImport">Import</a>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="id_jsonin" class="materialize-textarea"></textarea>
                    <label for="id_jsonin">Tasks: JSON-Import</label>
                </div>
            </div>
        </form>
    </div>

</template>