<template name="home">
    {{#if currentUser}}
        <!-- Search Dropdown Menu -->
        <ul id='id_searchHistory' class='dropdown-content teal lighten-4' style="z-index: 9999;">
            {{#if searchMode}}<li><a href='#' id="mnuSearchClear"><b>Clear</b></a></li>{{/if}}
            <li><a href='#' id="mnuSearchSearch"><b>Search</b></a></li>
            <li class="divider"></li>
            {{#each searches}}
                {{> searchhistory}}
            {{/each}}
        </ul>


        <div class="row">
            <div class="col s1">
                <a class='dropdown-button' href='#' id="btnSearch" data-activates='id_searchHistory' activate-drop="{{activateDrop}}">
                    <i class="mdi-action-search medium {{#if searchMode}} teal-text {{else}}blue-grey-text text-lighten-3{{/if}}"></i>
                </a>
            </div>

            <div class="col s11" style="position: relative;">
                <form class="new-task" autocomplete="off">
                    <input type="text" name="text" class="main-entry"
                           placeholder="New Task #Prio @Tag ** (? for search)" />
                </form>
                {{#if searchMode}}
                    <span class="toprightsearchtext" style="font-size: 200%;">{{searchMode}}</span>
                {{/if}}
                {{#if taskinboxCount}}
                    <a href="#" id="btnInboxCount"><i class="bottomrightinboxcount small mdi-image-filter-{{taskinboxCount}}"></i></a>
                {{/if}}
            </div>
            {{#unless privacyMode}}
            <div class="col s12">
                <table class="hoverable z-depth-2">
                    <tbody>
                    {{#if showInbox}}
                        {{#each taskinbox "NORMAL_TASKS"}}
                            {{> task}}
                        {{/each}}
                        {{#if showCompleted}}
                            {{#each taskinbox "COMPLETED_TASKS"}}
                                {{> task}}
                            {{/each}}
                        {{/if}}
                    {{else}}
                        {{#each tasks "STARRED_TASKS"}}
                            {{> task}}
                        {{/each}}
                        {{#each tasks "HOT_TASKS"}}
                            {{> task}}
                        {{/each}}
                        {{#each tasks "NORMAL_TASKS"}}
                            {{> task}}
                        {{/each}}
                        {{#if showCompleted}}
                            {{#each tasks "COMPLETED_TASKS"}}
                                {{> task}}
                            {{/each}}
                        {{/if}}
                    {{/if}}
                    </tbody>
                </table>
            </div>
            {{/unless}}
        </div>
    {{else}}
        {{> atForm}}
    {{/if}}
</template>
