<template name="nav">
    <!--The Connection Lost DIV -->
{{#unless connectionStatus.connected}}
    <div style="position: absolute; top: 10px; right: 10px; z-index: 1000;">
        <a href="#" id="btnConnectionLost"><i class="small mdi-alert-warning"
           style="color: yellow;"
           title="Connection Lost!
           Status: {{connectionStatus.status}}
           Retry Count: {{connectionStatus.retryCount}}
           Retry Time: {{connectionWaitTime}} sec.
           Reason: {{connectionStatus.reason}}
Click to reconnect."></i></a>
    </div>
{{/unless}}

    <nav class="teal darken-1">
        <div class="nav-wrapper container teal darken-1">
            <a class="brand-logo">&nbsp;Me.Todo</a>


            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

            {{#if currentUser}}
                <ul class="right hide-on-med-and-down">

                    {{#if taskinboxCount}}
                        <li><a href="#" id="mnuShowInbox" title="Show Inbox or Normal Task List">
                            {{#if showInbox}}
                                <i class="mdi-image-filter-{{taskinboxCount}}" style="color: coral;"></i>
                            {{else}}
                                <i class="mdi-image-filter-{{taskinboxCount}}"></i>
                            {{/if}}
                        </a></li>
                    {{else}}
                        {{#if showInbox}}
                        <li><a href="#" id="mnuShowInbox" title="Show Normal Task List">
                                <i class="mdi-action-list"></i>
                        </a></li>
                        {{/if}}
                    {{/if}}




                    <li><a href="#" id="mnuShowCompleted" title="Show/Hide Completed/Future Tasks">
                        {{#if showCompleted}}
                            <i class="mdi-toggle-check-box"></i>
                        {{else}}
                            <i class="mdi-toggle-check-box-outline-blank"></i>
                        {{/if}}
                    </a></li>

                    <li><a href="#" id="mnuPrivacyMode" title="Privacy Mode. Hide All! (Alt+F1)">
                        {{#if privacyMode}}
                            <i class="mdi-action-lock"></i>
                        {{else}}
                            <i class="mdi-action-lock-open"></i>
                        {{/if}}
                    </a></li>
                    <li><a href="/exportimport"><i class="mdi-file-file-upload" title="Upload JSON Data"></i></a></li>
                    <li><a href="/api/tasks/{{userID}}"><i class="mdi-file-file-download" title="Download JSON Data"></i></a></li>
                    <li><a href="#" id="mnuSignOut"><i class="mdi-action-exit-to-app" title="User Log Out"></i></a></li>
                </ul>
                {{/if}}

                <ul class="side-nav" id="mobile-demo">
                    <li class="teal">Me.Todo</li>
                    <li><a href="#" id="mnuShowInbox">
                        {{#if showInbox}}
                            Show Tasklist
                        {{else}}
                            Show Inbox ({{{taskinboxCount}}} tasks)
                        {{/if}}
                    </a></li>

                    <li><a href="#" id="mnuShowCompleted">
                        {{#if showCompleted}}
                            Hide Unimportant
                        {{else}}
                            Show Unimportant
                        {{/if}}
                    </a></li>
                    <li>
                        <a href="#" id="mnuPrivacyMode">
                            {{#if privacyMode}}
                                Privacy Off (Alt+F1)
                            {{else}}
                                Privacy On (Alt+F1)
                            {{/if}}
                            </a></li>
                    <li>
                        <a href="/exportimport">JSON Upload</a></li>
                    <li>
                        <a href="/api/tasks/{{userID}}">JSON Download</a></li>
                    <li>
                        <a href="#" id="mnuSignOut">Sign Out</a></li>


                    <!--<li><a href="#" id="mnuShowCompleted">-->
                        <!--{{#if showCompleted}}-->
                            <!--<i class="mdi-toggle-check-box"></i> Hide Completed-->
                        <!--{{else}}-->
                            <!--<i class="mdi-toggle-check-box-outline-blank"></i> Show Completed-->
                        <!--{{/if}}-->
                    <!--</a></li>-->
                    <!--<li>-->
                        <!--<a href="#" id="mnuPrivacyMode">-->
                            <!--{{#if privacyMode}}-->
                                <!--<i class="mdi-action-lock"></i>-->
                            <!--{{else}}-->
                                <!--<i class="mdi-action-lock-open"></i>-->
                            <!--{{/if}}-->
                                <!--Privacy (F1)</a></li>-->
                    <!--<li>-->
                        <!--<a href="/exportimport"><i class="mdi-file-file-upload"></i> JSON Upload</a></li>-->
                    <!--<li>-->
                        <!--<a href="/api/tasks/{{userID}}"><i class="mdi-file-file-download"></i> JSON Download</a></li>-->
                    <!--<li>-->
                        <!--<a href="#" id="mnuSignOut"><i class="mdi-action-exit-to-app"></i> Sign Out</a></li>-->
                </ul>
        </div>
    </nav>
    <br>
</template>
